
.questionnaireButton{
    width: 150px;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    padding: 10px;
}

.functionalButton{
    width: auto;
    font-size: 16px;
    color: #030303;
    background-color: #10e091;
    border-radius: 15px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    padding: 10px;
}

@media (min-width: 769px){
  .dropdown{
    min-width: 30ch;
    max-width: 50ch;
    padding: 4px;
    font-size: 1rem;
    border-radius: 15px;
    border: 3px solid #18324d;
    cursor: pointer;
    line-height: 1.1;
    background-color: #2d3657;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.4);
  }
}

@media (max-width: 768px){
  .dropdown{
    min-width: 15ch;
    max-width: 50ch;
    padding: 4px;
    font-size: 1rem;
    border-radius: 15px;
    border: 3px solid #18324d;
    cursor: pointer;
    line-height: 1.1;
    background-color: #2d3657;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.4);
  }
}

.options[value="please choose"][disabled] {
    display: none;
  }